#intro {
  
}

#mimp-blocks {
  
  margin-top: 15px;
  margin-bottom: 15px;
  
}

.service-main {
  
  .well {
    font-size: 18px;
      
  }
  
}

.branded-well {
  border-top: 20px solid $brand-primary;
  border-left: 0;
  border-right: 0;
}

.case-study-unit {
  
  padding-top: 10px;
  
  img {
    max-width: 250px;
    padding-left: 10px;
  }
  
  h5 {
    color: $brand-primary;
  }
  
}