            <div class="btn-group">
              <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Departments <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
              </ul>
            </div>