                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Email</th>
                      <th>Telephone</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Patient Information</th>
                      <td><a href="">Email us</a> </td>
                      <td><a href="">0114</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Training Information</th>
                      <td><a href="">Email us</a> </td>
                      <td><a href="">0114</a></td>
                    </tr>
                    <tr>
                      <th scope="row">Career Information</th>
                      <td><a href="">Email us</a> </td>
                      <td><a href="">0114</a></td>
                    </tr>
                  </tbody>
                </table>
