<div class="container">
  <div class="row">
    <section class="">

      <div class="col-md-12">
        <h3>Our Hospitals</h3>
      </div>
      
       <div class="col-md-12">
         <ul class="list-inline list-hospitals">
          <li><img src="http://www.sth.nhs.uk/clientfiles/Image/Hallamshire%20web%20ready.JPG" alt="" class="hidden-sm hidden-xs"><a href="http://www.sth.nhs.uk/our-hospitals/royal-hallamshire-hospital" target="_blank">Royal Hallamshire Hospital</a></li>
          <li><img src="http://www.sth.nhs.uk/clientfiles/Image/NGH%20WEB%20READY.jpg" alt="" class="hidden-sm hidden-xs"><a href="http://www.sth.nhs.uk/our-hospitals/northern-general-hospital" target="_blank">Northern General Hospital</a></li>
          <li><img src="http://www.sth.nhs.uk/clientfiles/Image/Weston%20Park%20Hospital.JPG" alt="" class="hidden-sm hidden-xs"><a href="http://www.sth.nhs.uk/our-hospitals/weston-park-hospital" target="_blank">Weston Park Hospital</a></li>
          <li><img src="http://www.sth.nhs.uk/clientfiles/Image/Jessop%20Maternity%20Hospital%20web.JPG" alt="" class="hidden-sm hidden-xs"><a href="http://www.sth.nhs.uk/our-hospitals/jessop-wing" target="_blank">Jessop Wing</a></li>
          <li><img src="http://www.sth.nhs.uk/clientfiles/Image/Clifford%20web.JPG" alt="" class="hidden-sm hidden-xs"><a href="http://www.sth.nhs.uk/our-hospitals/charles-clifford-dental-hospital" target="_blank">Charles Clifford Dental Hospital</a></li>
         </ul>
      </div>
      
    </section>
  </div>
</div>
