---
title: Medical Imaging &amp; Medical Physics
intro: A multi-disciplinary department in the heart of South Yorkshire
---

<section id="intro">
  <div class="container">
    <div class="row">
      <div class="brand-header">
        <h1 class="brand-h1"><%= current_page.data.title %></h1>
        <p class="lead"><%= current_page.data.intro %></p>
      </div>
    </div>
  </div>
</section>