<div class="container">
  <div class="row">
    <section class="hospitals">

      <h5>Our Hospitals</h5>
  
      <div class="col-md-2">
        <img src="http://www.sth.nhs.uk/clientfiles/Image/Hallamshire%20web%20ready.JPG" alt="" class="hidden-sm hidden-xs">
        <div class="well">
          <a href="http://www.sth.nhs.uk/our-hospitals/royal-hallamshire-hospital" target="_blank">Royal Hallamshire Hospital</a>
        </div>
      </div>
      
      <div class="col-md-2">
        <img src="http://www.sth.nhs.uk/clientfiles/Image/NGH%20WEB%20READY.jpg" alt="" class="hidden-sm hidden-xs">
        <div class="well">
          <a href="http://www.sth.nhs.uk/our-hospitals/northern-general-hospital" target="_blank">Northern General Hospital</a>
        </div>
      </div>
      
      <div class="col-md-2">
        <img src="http://www.sth.nhs.uk/clientfiles/Image/Weston%20Park%20Hospital.JPG" alt="" class="hidden-sm hidden-xs">
        <div class="well">
          <a href="http://www.sth.nhs.uk/our-hospitals/weston-park-hospital" target="_blank">Weston Park Hospital</a>
        </div>
      </div>
      
      <div class="col-md-2">
        <img src="http://www.sth.nhs.uk/clientfiles/Image/Jessop%20Maternity%20Hospital%20web.JPG" alt="" class="hidden-sm hidden-xs">
        <div class="well">
          <a href="http://www.sth.nhs.uk/our-hospitals/jessop-wing" target="_blank">Jessop Wing</a>
        </div>
      </div>
      
      <div class="col-md-2">
        <img src="http://www.sth.nhs.uk/clientfiles/Image/Clifford%20web.JPG" alt="" class="hidden-sm hidden-xs">
        <div class="well">
          <a href="http://www.sth.nhs.uk/our-hospitals/charles-clifford-dental-hospital" target="_blank">Charles Clifford Dental Hospital</a>
        </div>
      </div>
      
    </section>
  </div>
</div>
